*{
    background-color: rgb(15, 155, 113);
    margin: 10px; padding: 10px;
    color: black;
    font-size: 18px;
}

body{
    margin-top: 25px;
    height: 1500px;
}

marquee{
    background-color: black;
    padding: 0px;
    position: fixed;
    top: 0px;
    margin-bottom: 10px;
    margin-right: 50px;
    transition: 0.5s;
}
.newClass{
    color: white;
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
}
ul li{
    list-style: decimal;
}
div{
    width: 40%;
    text-align: center;
}