*{
    background-color: purple;
    /* margin: 10px; padding: 10px; */
    color: white;
    font-size: 18px;
}
/* 
body{
    margin-top: 25px;
}

h1{
    background-color: rgb(14, 97, 3);
    display: inline-block;
    margin: 5px; padding: 5px;
}

marquee{
    background-color: black;
    padding: 0px;
    position: fixed;
    top: 0px;
    margin-bottom: 10px;
    margin-right: 50px;
    transition: 0.5s;
} */